<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <style>
.body_main {
    background-image: url("{% static 'images/background.jpg' %}");
}
    </style>
</head>

<body class="body_main"
    style="background-color:#f8faff;  background-attachment: fixed; background-size: cover; background-position: center;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'login_app:register_view' %}" style="font-weight: bold; font-size: 1.5rem; color: #be0a0a;">
            <img src="{% static 'images/logo.png' %}" class="rounded-circle" width="50px" alt="Logo"> SafeNet.AI
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'About:about_us' %}">About Us </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Researchers:researcher_view' %}">RESEACHERS</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_app:register_view' %}">Guidelines</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Guidelines:guidelines_cards' %}">Guidelines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects & Publications </a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_app:user_logout' %}">Logout </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_app:login_page' %}">Login </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body_block %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>

</html>