{% extends "base.html" %}
{% block body_block %}
{% load static %}
<div class="container" style="align-items: center; margin-left: 150px; margin-top: 50px;" >


    {% if users and users_info %}
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Institution</th>
                <th>Profile Image</th>
                <th>Joining Date</th>
                <!-- <th>Last Login Date</th> -->
            </tr>
        </thead>
        <tbody>
            {% for user in users|dictsortreversed:"date_joined" %}
            {% for info in users_info %}
            {% if info.user_id == user.id %}
            <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ info.phone_number }}</td>
            <td>{{ info.institution }}</td>
            <td>
                {% if info.profile_pic %}
                <img src="{{ info.profile_pic.url }}" width="70px" height="50px">
                {% else %}
                No image available
                {% endif %}
            </td>
            <td>{{ user.date_joined }}</td>
            <!-- <td>{{ last_login }}</td> -->

            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No user information available.</p>
    {% endif %}

</div>







{% endblock %}